<navbar [items]="items" (OpenEventEmitter)="OpenCart()" />
<div class="container my-4">

  <h2 class="text-center">Catalogo de productos App!</h2>
  <catalog [products]="products" (productEventEmitter)="onAddCart($event)" />
  @if(showCart){
  <div class="abrir-modal animacion fadeIn">
    <div class="modal" style="display: block;" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            @if(items.length > 0){
            <cart [items]="items" (idProductEventEmitter)="onDeleteCart($event) " [total]="total" />
            } @else {
            <div class="alert alert-warning">no hay elementos en el carro!</div>
            }
            <button class="btn btn-secundary float-end" (click)="OpenCart()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
